.header{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header__title{
   font-weight: 600;
   font-size: 34px;
   line-height: 34px;
   color: #3C4242;
   text-decoration: none;
}

.header__icons{
    display: flex;
}

.header__icons--favourites{
    height: 30px;
    width: 30px;
}

.header__icons--cart{
    height: 30px;
    width: 30px;
    padding-left: 25px;
}

.header__icons--cart--items{
    // position: absolute;
    // padding-left: 64px;
}

.header__icons--favourites-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__icons--cart-container{
    display: flex;
    flex-direction: column;
    align-items: center
}

.header__icons--cart--items{
    padding-left: 15px;
}